<div class="content-padded">
  <h2 class="into-headline">
    Rate anything!
  </h2>
  <p class="jotly-video">
    <a class="btn btn-primary btn-block btn-default" target="_blank" href="https://www.youtube.com/watch?v=weIxaieRhpQ">What is Jotly?</a>
  </p>
  <p>Create a new jot then you & your friends will be able to rate it.
  </p>

  <% if current_user.present? %>
  <% else %>
    <a class="btn btn-block btn-positive" href="<%= new_user_path %>">
      Sign Up!
    </a>
    <p style="text-align: center"><em>- or -</em></p>
    <a class="btn btn-block btn-positive btn-outlined" href="<%= new_session_path %>">
      Sign In!
    </a>

  <% end %>
</div>
