<div class="content-padded">
  <h1>
    Welcome to Jotly, an app for <strong>rating</strong> anything!
  </h1>
  <p>Create a new jot then you & your friends will be able to rate it.
  </p>

  <% if current_user.present? %>
  <% else %>
    <a class="btn btn-block btn-positive" href="<%= new_user_path %>">
      Sign Up!
    </a>
    <p style="text-align: center"><em>- or -</em></p>
    <a class="btn btn-block btn-positive btn-outlined" href="<%= new_session_path %>">
      Sign In!
    </a>

  <% end %>
</div>
