@font-face {
  font-family: Ratchicons;
  font-style: normal;
  font-weight: normal;

  src: font-url("ratchicons.eot");
  src: font-url("ratchicons.eot?#iefix") format("embedded-opentype"), font-url("ratchicons.woff") format("woff"), font-url("ratchicons.ttf") format("truetype"), font-url("ratchicons.svg#svgFontName") format("svg");
}
