@font-face {
  font-family: Ratchicons;
  font-style: normal;
  font-weight: normal;

  src: font-url("../fonts/ratchicons.eot");
  src: font-url("../fonts/ratchicons.eot?#iefix") format("embedded-opentype"), font-url("../fonts/ratchicons.woff") format("woff"), font-url("../fonts/ratchicons.ttf") format("truetype"), font-url("../fonts/ratchicons.svg#svgFontName") format("svg");
}
