<h1> Jot central </h1>

<% @jots.each do |jot| %>
  <ul class="table-view">
    <li class="table-view-cell"><%= jot.message %>
      <%= link_to "Edit", edit_jot_path(jot) %>
    </li>


    </li>
<% end %>
