<% content_for :button_left do %>
  <a class="icon icon-left-nav pull-left"
    href="<%= jots_path %>"></a>
<% end %>

<div class="content-padded">

  <h3><%= @jot.content %></h3>

  <% if can_edit?(@jot) %>
    <a href="<%= edit_jot_path(@jot) %>"
      class="btn btn-positive btn-block btn-outlined">
      Edit
    </a>

    <%= button_to 'Destroy', jot_path(@jot), method: :delete, data: {confirm: "Delete jot '#{@jot.content}'?"} %>
  <% end %>
</div>

